<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUAN__LY_KHACH_HANG.Properties.Settings.QLKHConnectionString"
            connectionString="Data Source=DESKTOP-CO09DFI\MSSQLSERVER01;Initial Catalog=QLKH;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>